[Unit]
Description=Run ABCP -> Bitrix24 Garage Sync periodically

[Timer]
OnCalendar=*:0/30      # каждые 30 минут
AccuracySec=1min
Persistent=true        # если пропуск — запустит при старте

[Install]
WantedBy=timers.target
